#################  
## openFrameworks  
#################  

[Bb]uild/ 
[Oo]bj/ 
*.o 
[Dd]ebug*/  
[Rr]elease*/  
*.mode*  
*.app/  
*.pyc  
*.log  
  
#################  
## Code::Blocks  
#################  
  
*.depend  
*.layout  
  
############  
## Windows  
############  
  
# Windows image file caches  
Thumbs.db  
  
# Folder config file  
Desktop.ini  

# Compiled Obj
TheArtBox/obj/*

#################  
## OSX 
#################  

*.DS_Store
*.pbxuser
*.perspectivev3
xcuserdata
build
*.app


#################  
## FILES
#################  

[Bb]in/* 
![Bb]in/data/ 

TheArtBox/bin/data/demo/*
TheArtBox/bin/data/images/*
TheArtBox/bin/data/movies/*
TheArtBosx/bin/data/logs/*

TheArtBosx/bin/data/demo/*
TheArtBosx/bin/data/images/*
TheArtBosx/bin/data/movies/*
TheArtBosx/bin/data/logs/*

/tabFTP/bin/data/*

/MEDIA/*
/LOGS/*